<div class="flex-shrink-0 px-2 border-end" >
  <div class="dropdown">
    <a class="btn btn-lg dropdown-toggle ps-2 mb-1 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_entity.name %>
    </a>
    <ul class="dropdown-menu pb-1">
      <li><h6 class="dropdown-header">Switch to</h6></li>
      <% current_user.entities.where.not(id: current_entity.id).order(:name).each do |entity| %>
        <li><%= link_to "#{entity.name}#{" *" if entity.id == current_entity.id}", entity_path(entity), class:"dropdown-item" %></li>
      <% end %>
      <li><hr class="dropdown-divider mb-1"></li>
      <li><%= link_to 'New', onboarding_path, class: "dropdown-item active btn btn-sm" %></li>
    </ul>
  </div>

  <%= build_sidebar_menu sidebar_menu %>
</div>
