<%#
  locals: {
    resource_class: "Class of resources being rendered",
  }
%>
<form class="d-inline">
  <label for="search" class="visually-hidden">Search</label>
  <input type="text" class="form-control form-control-sm d-inline w-auto" id="search" placeholder="search...">
</form>
<%= toolbar_icon_button '#', :filter %>
<%= create_button_for resource_class %>
