<%
  login_form_footer_links = rodauth(:user).login_form_footer_links.reject do |link|
    next true if rodauth(:user).try(:create_account_path) == link[1]
    next true if rodauth(:user).try(:reset_password_request_path) == link[1]
  end
%>

<% if rodauth(:user).respond_to?(:create_account_path) %>
  <div class="mt-4">
    Don't have an account?
    <%= link_to "Sign Up", rodauth(:user).reset_password_request_path, class: 'text-decoration-none' %>
  </div>
<% end %>

<% unless login_form_footer_links.empty? %>
  <hr class="mx-auto my-4 w-75" />

  <%#== rodauth(:user).login_form_footer_links_heading %>

  <ul class="list-unstyled">
    <% login_form_footer_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link, class: 'text-decoration-none' %></li>
    <% end %>
  </ul>
<% end %>
