<div class="mb-4">
  <h2>Welcome back</h2>
</div>

<%== rodauth(:user).login_form_header %>
<%= render "login_form" %>
<%== rodauth(:user).create_account_additional_form_tags %>
<%== rodauth(:user).login_form_footer %>
