<form class="d-inline">
  <label for="search" class="visually-hidden">Search</label>
  <input type="text" class="form-control form-control-sm d-inline w-auto" id="search" placeholder="search...">
</form>
<%= toobar_icon_button '#', :filter %>
<%= toobar_icon_button new_user_path, 'plus-lg', :primary %>
