<div class="row py-2">
  <div class="col-12 text-end">
    <%= edit_button_for user %>
    <%= delete_button_for user %>
  </div>
</div>

<div class="row row-gap-2">
  <dt class="col-md-3">Email</dt>
  <dd class="col-md-9"><%= user.email %></dd>
  <dt class="col-md-3">Status</dt>
  <dd class="col-md-9"><%= user.status %></dd>
</div>
