<% JoelTest.collection.each do |test| %>
  <% icon, clazz = value.include?(test) ? %i[check success] : %i[x danger] %>
  <div>
    <span class="badge bg-<%= clazz %> text-white">
      <i class="bi bi-<%= icon %>"></i>
    </span>
    <%= test.name %>
  </div>
<% end %>
